@{
    ViewData["Title"] = "404";
}

<div class="main-container">
    <div class="error-container">
        <h1 tsid="page-not-found" class="p404_t">Этой страницы нет в Social Network</h1>
        Но есть много других, если <a asp-controller="Home" asp-action="Index">войти на сайт</a> или
        <a asp-controller="Register" asp-action="Register">зарегистрироваться</a>
    </div>
</div>