@using SocialNetwork.DLL.Entities
@model SocialNetwork.Models.ViewModels.Account.UserViewModel

@{
    Layout = "_UserLayout";
}

@{
    ViewData["Title"] = $"{ViewBag.targetUser?.GetFullName() ?? "Неизвестный пользователь"} page";
}

@{
    string userId = string.IsNullOrEmpty(ViewBag.targetUser?.Id) ? Model._user.Id : ViewBag.targetUser.Id;
}

<h2>Лента @ViewBag.targetUser?.GetFullName() </h2>

<div id="messageSection"></div>
<div id="loading" style="display: none; text-align: center">
    Загрузка...
</div>

<script>
    console.log('page loaded');
    console.log(new Date().toISOString());
    // var trashboxUrl = "@Url.Content("~/images/trashbox.svg")";
    // var closeUrl = "@Url.Content("~/images/close.svg")";
    window.userId = "@userId";
</script>