@{
    Layout = "_Layout"; // используем макет _Layout.cshtml как базовый
}
<div class="main-container">
    @RenderBody()
</div>
<script>
    console.log('Layout:_ClearLayout');
    console.log(@Model);
</script>