@model SocialNetwork.Models.ViewModels.Account.UserViewModel

@{
    Layout = "_Layout"; // используем макет _Layout.cshtml как базовый
    string userId = ViewBag.targetUser?.Id ?? Model._user.Id;
}

<div class="main-container">
    <div class="user-container">
        <h2>@Model._user.FirstName @Model._user.LastName</h2>
        <div class="portrait-box">
            <img id="user_photo" src="@Model._user.Image" />
            <a asp-controller="AccountManager" asp-action="UpdateUserData">
                <img src="~/images/edit.svg" alt="Редактировать данные пользователя">
            </a>
        </div>
        <div class="friens-container">
            <ul id="friendsSection">
  
            </ul>
        </div>
    </div>

    <div class="content-container">
        @RenderBody()
    </div>
</div>

<script>
    console.log('Layout:_RegistredLayout');
    console.log(Model);
</script>


@* <script>
    document.addEventListener('DOMContentLoaded', async () => {
        try {
            // Получаем UserID из Razor-модели
            const userId = window.userId;

            // Запрашиваем данные с сервера
            const response = await fetch(`/AccountManager/get-friends?UserID=${userId}`);
            const result = await response.json();
            console.log(result.data);
            if (result.data && result.data.length > 0) {
           // Добавляем друзей
                const friendsSection = document.getElementById('friendsSection');
                result.data.forEach(friend => {
                    const friendHtml = `
                           <li>
                            <a href="/user_page?userID=${friend.friendId}">
                            <img src="${friend.image}" />
                            ${friend.friendFullName}
                            </a>
                        </li>`;
                    friendsSection.insertAdjacentHTML('beforeend', friendHtml);
                });
            }
        } catch (error) {
            console.error('Ошибка при загрузке друзей:', error);
        }
    });
</script> *@