@{
    Layout = "_Layout"; // используем макет _Layout.cshtml как базовый
}

<div class="main-container">
    <div class="user-container">
        <h2>@ViewBag.targetUser?.GetFullName()</h2>
        <div class="portrait-box">
            <img id="user_photo" src="@ViewBag.targetUser?.Image" />
        </div>
        <div class="friens-container">
            <ul id="friendsSection">
            </ul>
        </div>
    </div>

    <div class="content-container">
        @RenderBody()
    </div>
</div>

<script>
    console.log('Layout:_UserLayout');
    console.log(Model);
</script>