@{
    string userId = ViewBag.targetUser?.Id ?? Model._user.Id;
    string title = ViewBag.targetUser?.GetFullName() ?? Model._user.GetFullName();
    ViewData["Title"] = $"{Model._user.GetFullName()} page";
}

<h2>Моя лента</h2>
<div class="inputMessageSection-body">
    <h5 class="card-title">Напишите сообщение</h5>
    <textarea id="messageInput" class="form-control" rows="3" placeholder="Введите сообщение..."></textarea>
    <button id="sendMessage" class="btn-primary">Отправить</button>
</div>

<div id="messageSection"></div>
<div id="loading" style="display: none; text-align: center">
    Загрузка...
</div>

<script>
    console.log('page loaded');
    console.log(new Date().toISOString());
    window.userId = "@userId";
</script>
