@model SocialNetwork.Core.Models.ViewModels.UserViewModel

@{
    Layout = "_UserLayout";
    ViewData["Title"] = $"{ViewBag.targetUser?.FullName ?? "Неизвестный пользователь"} page";
    string userId = ViewBag.targetUser?.UserId ?? Model.UserId;
}

<h2>Лента @ViewBag.targetUser?.FullName </h2>

<div id="messageSection"></div>
<div id="loading" style="display: none; text-align: center">
    Загрузка...
</div>

<script>
    console.log('page loaded');
    console.log(new Date().toISOString());
    window.userId = "@userId";
</script>