html {
    font-size: 14px;
    background-image: url("/images/background.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 120vH;
    background-color: #FCF4EC;
    background-attachment: fixed;
}

body {
    margin: 0;
    /*background-color: #FCF4EC;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Исправленный фон */

.svg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.svg-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1200px;
    min-height: 800px;
    width: auto;
    height: auto;
}

/* Навигационная панель */

header {
    background-color: #ffffff;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    /*position: sticky;*/
    position: absolute;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 50px;
}

    .navbar a {
        text-decoration: none; /* Убирает подчеркивание */
        color: inherit; /* Наследует цвет текста */
        display: flex; /* Чтобы содержимое ссылки оставалось блочным */
        align-items: center;
    }

.toolbar_logo {
    margin-left: 2vH;
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .toolbar_logo p {
        margin-left: 0.5em;
        margin-right: 1em;
        font-size: 1.5em;
    }

/*Кнопка Logout*/

.toolbar_logout {
    margin-right: 2vH;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    right: 0;
}

    .toolbar_logout button {
        background: none;
        border: none;
        display: flex;
        cursor: pointer;
    }

    .toolbar_logout p {
        margin-right: 0.5em;
        font-size: 1em;
    }

.search-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-53%);
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 450px; /* Максимальная ширина формы поиска */
}

/* Стили для label */

.label-input {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

/* Стили для поля ввода */

.input {
    width: 100%;
    height: 35px;
    padding: 0 36px 0 12px;
    font-size: 1.5em;
    border: transparent;
    background-color: #f7f4f2;
    border-radius: 100px; /* Закругление левого края */
    outline: none; /* Убираем стандартное выделение */
    transition: border-color 0.3s ease; /* Плавный переход */
}

/* Стили для кнопки отправки */

.button-clean {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 32px;
    height: 100%;
    border-radius: 100px; /* Закругление правого края */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    transform: translateY(75px);
    min-height: calc(100vh - 150px);
}

/* Форма входа */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.spacer-container {
    flex: 1;
    min-height: 80px; /* Минимальный отступ */
}

.main-container {
    flex-shrink: 0; /* Запрещаем сжатие */
    background: white;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Центрирование по горизонтали */
    max-width: 400px; /* Фиксируем максимальную ширину */
}

    .login-form h2,
    .main-container h2 {
        text-align: center;
        margin-bottom: 15px;
        color: #333;
    }

    .login-form label,
    .main-container label {
        display: block;
        margin-bottom: 5px;
        color: #666;
    }

    .login-form input,
    .main-container input,
    .main-container select {
        width: 100%;
        box-sizing: border-box;
        max-width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-form button,
    .main-container button {
        width: 100%;
        padding: 10px;
        background-color: #ff7700;
        border: none;
        border-radius: 100px;
        color: white;
        font-size: 1em;
        cursor: pointer;
        margin-top: 20px;
    }

        .login-form button:hover,
        .main-container button:hover {
            background-color: #d66400;
        }

    .login-form p,
    .main-container p {
        margin-top: 15px;
        text-align: center;
    }

    .login-form a,
    .main-container a {
        color: #ff7700;
        text-decoration: none;
    }

        .login-form a:hover,
        .main-container a:hover {
            text-decoration: underline;
        }

/* Контейнер для группы элементов формы */

.form-group {
    position: relative;
    /*margin-bottom: 20px;*/ /* Отступ между группами */
}

/* Обертка для input и сообщения */

.input-wrapper {
    display: inline-block; /* Чтобы ограничить ширину контейнера */
    width: 100%; /* Занимает доступное пространство */
}

    /* Стиль для input */

    .input-wrapper input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

/* Стиль для всплывающего сообщения */

.field-validation-error,
.field-validation-valid {
    display: none; /* Скрываем сообщение */
    position: absolute;
    top: 50%;
    transform: translateY(-42%);
    right: 0;
    align-content: center;
    max-width: 40%;
    min-height: 19px;
    font-size: 0.8em;
    color: #d67070;
    background-color: rgba(255, 99, 71, 0.2);
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    white-space: normal;
    word-wrap: break-word;
    z-index: 10;
}

/* Для корректных полей */

.field-validation-valid {
    background-color: rgba(76, 175, 80, 0.2); /* Полупрозрачный зеленый фон */
    display: none;
}

    /* Показываем только ошибки и корректные сообщения после отправки формы */

    .field-validation-error.show,
    .field-validation-valid.show {
        display: inline-block; /* Показываем сообщение об ошибке */
    }

/* Стили для контейнера чекбокса */

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Отступ перед кнопкой */
}

    /* Стили для чекбокса */

    .remember-me input[type="checkbox"] {
        margin: 0; /* Убираем отступы вокруг чекбокса */
        margin-right: 8px; /* Отступ между чекбоксом и текстом */
        width: 16px; /* Размер чекбокса */
        height: 16px;
        cursor: pointer;
    }

    /* Стили для текста рядом с чекбоксом */

    .remember-me label {
        margin: 0;
        font-size: 0.9em;
        cursor: pointer;
    }

.error-container {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: clamp(0.7em, 2.5vw, 1em);
}

    .error-container h1 {
        font-size: clamp(17px, 2.5vw, 25px);
    }

/* Стили для контейнера ошибок */

.text-danger.validation-summary-errors {
    font-size: 0.8em;
    color: #d67070;
    background-color: rgba(255, 99, 71, 0.2);
    position: absolute;
    transform: translateY(-5px);
}

    .text-danger.validation-summary-errors ul {
        display: contents;
        list-style-type: none;
        padding-left: 0;
    }

footer {
    margin-top: auto;
    padding: 20px 0;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    font-size: 1.5em;
    color: rgba(46, 47, 51, .639);
}

/* Стили для модального окна "Да/Отмена" */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(236, 214, 188);
    border: 15px solid rgb(255, 228, 196);
    padding: 18px;
    border-radius: 20px;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 10px;
}

.btn-confirm {
    background-color: rgba(76, 175, 80, 0.54);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cancel {
    background-color: rgba(244, 67, 54, 0.59);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#modalText {
    margin: 0 0 15px 0;
    font-weight: bolder;
    justify-content: center;
}

/* Адаптация для мобильных */

@media (max-width: 768px) {
    .toolbar_logo p,
    .toolbar_logout p {
        display: none;
    }

    .search-wrapper {
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        margin: 10px;
    }
}